<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="img/x-icon" href="../book.ico"/>
    <meta charset="UTF-8">
    <title>Biblioteka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/../main.css"/>
</head>
<body>
<div class="container">
    <div class="jumbotron mb-2" id="header-block">
        <p id="title-text">Biblios</p>
        <p id="title-hint">Twoje książki na wyciągnięcie ręki!</p>
    </div>

    <nav class="navbar navbar-expand-md bg-primary navbar-dark rounded mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/index">Strona główna</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/book-catalog">Katalog książek</a>
                </li>

            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/contact">Kontakt</a>
                </li>
            </ul>
            <a href="/navbar.html"></a>
        </div>
        <div class="navbar-collapse collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item-dropdown">
                    <a class="nav-link " href="user" data-toggle="dropdown">
                        <i style="color:white" class="fas fa-user-circle fa-2x"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/admin-panel">Panel administracyjny</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container px-0">
        <div class="row">
            <div class="col-md-12">
                <div class="col rounded bg-light border border-secondary p-3">
                    <h4 class="mb-3">Lista zasobów</h4>
                    <span th:switch="${hasError}">
                        <div th:case="true" class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <p th:text="${error}"></p>
                        </div>
                        <div th:case="false" class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <p th:text="${info}"></p>
                        </div></span>
                    <div class="table-responsive-sm">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Tytuł</th>
                                <th>Autor</th>
                                <th>Liczba stron</th>
                                <th>Kategoria</th>
                                <th>Operacje</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="book:${books}">
                                <td th:text="${book.title}"></td>
                                <td th:text="${book.author}"></td>
                                <td th:text="${book.pageNumber}"></td>
                                <td th:text="${book.category}"></td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-info mx-1" th:href="'/admin-panel/book/edit/'+${book.id}">Edytuj</a>
                                        <form method="post" action="/admin-panel/book/delete/"
                                              th:object="${bookToDelete}">
                                            <input type=text id="id" name="id" th:value="${book.id}" hidden/>
                                            <button type="submit" class="btn btn-danger mx-1">Usuń</button>
                                        </form>
                                    </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="/admin-panel/book/add" class="btn btn-success">Dodaj</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>