<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="img/x-icon" href="../book.ico"/>
    <meta charset="UTF-8">
    <title>Biblioteka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../main.css"/>
</head>
<body>
<div class="container">
    <div class="jumbotron mb-2" id="header-block">
        <p id="title-text">Biblios</p>
        <p id="title-hint">Twoje książki na wyciągnięcie ręki!</p>
    </div>

    <nav class="navbar navbar-expand-md bg-primary navbar-dark rounded mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/index">Strona główna</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/book-catalog">Katalog książek</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/contact">Kontakt</a>
                </li>
            </ul>
            <a href="/navbar.html"></a>
        </div>
        <div class="navbar-collapse collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item-dropdown">
                    <a class="nav-link " href="user" data-toggle="dropdown">
                        <i style="color:white" class="fas fa-user-circle fa-2x"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/admin-panel">Panel administracyjny</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row my-2">
                    <div class="col rounded bg-light border border-secondary p-3">
                        <form class="form-inline" action="/book-catalog" method="get">
                            <input type="text" name="search" id="search" class="form-control mr-xs-2 w-50"
                                   placeholder="Szukaj książki"/>
                            <button class="btn btn-outline-primary ml-1 " type="submit">Szukaj</button>
                        </form>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col rounded bg-light border border-secondary p-3">
                        <div class="alert alert-info" th:if="${books.isEmpty()}">Nie znaleziono wyszukiwanych wyników!
                        </div>
                        <div th:if="${!books.isEmpty()}">
                            <div class="card my-2" th:each="book:${books}">
                                <div class="card-body">
                                    <h5 class="font-weight-bold" th:text="${book.title}"></h5>
                                    <p th:text="${book.author}"></p>
                                    <p th:text="'Liczba stron: '+${book.pageNumber}"></p>
                                    <p th:text="'Kategoria: '+${book.category}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>