<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="img/x-icon" href="../book.ico"/>
    <meta charset="UTF-8">
    <title>Biblioteka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../main.css"/>
</head>
<body>
<div class="container">
    <div class="jumbotron mb-2" id="header-block">
        <p id="title-text">Biblios</p>
        <p id="title-hint">Twoje książki na wyciągnięcie ręki!</p>
    </div>

    <nav class="navbar navbar-expand-md bg-primary navbar-dark rounded mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/index">Strona główna</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/book-catalog">Katalog książek</a>
                </li>

            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/contact">Kontakt</a>
                </li>
            </ul>
            <a href="/navbar.html"></a>
        </div>
        <div class="navbar-collapse collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item-dropdown">
                    <a class="nav-link " href="user" data-toggle="dropdown">
                        <i style="color:white" class="fas fa-user-circle fa-2x"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/admin-panel">Panel administracyjny</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container pr-0">
        <div class="row">
            <div class="col-md-12">
                <!--<div class="row my-2">-->
                <!--<div class="col rounded bg-light border border-secondary p-3">-->
                <!--<form class="form-inline">-->
                <!--<input type="text" class="form-control mr-xs-2 w-50" placeholder="Szukaj użytkownika"/>-->
                <!--<button class="btn btn-outline-primary ml-1 " type="submit">Szukaj</button>-->
                <!--</form>-->
                <!--</div>-->
                <!--</div>-->
                <div class="row my-2">
                    <div class="col rounded bg-light border border-secondary p-3" style="height: 200%;">
                        <span th:switch="${hasError}">
                        <div th:case="true" class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <p th:text="${error}">ghh</p>
                        </div>
                        <div th:case="false" class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <p th:text="${info}">ghh</p>
                        </div></span>
                        <h4 class="mb-3">Lista użytkowników</h4>
                        <div class="table-responsive-sm">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Imię i nazwisko</th>
                                    <th>Login</th>
                                    <th>Email</th>
                                    <th>Operacje</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user:${users}">
                                    <td th:text="${user.name}+' '+${user.lastName}"></td>
                                    <td th:text="${user.login}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-info mx-1" th:href="'/admin-panel/user/edit/'+${user.id}">Edytuj</a>
                                            <form method="post" action="/admin-panel/user/delete/"
                                                  th:object="${userToDelete}">
                                                <input type=text id="id" name="id" th:value="${user.id}" hidden/>
                                                <button type="submit" class="btn btn-danger mx-1">Usuń</button>
                                            </form>
                                        </div>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class="pagination justify-content-end" style="margin:20px 0">
                            <li class="page-item">
                                <a class="page-link" th:href="'/admin-panel/user?page='+@{${activePage}-1}"
                                   th:text="'<'"></a></li>
                            <span th:each="page:${pages}">
                                <span th:switch="${page}">
                                   <span th:case="${activePage}">

                            <li class="page-item active">
                                    <a class="page-link"
                                       th:href="'/admin-panel/user?page='+${page}"
                                       th:text="${page}"></a></li>
                                    </span>

                                <span th:case="*">

                            <li class="page-item">
                                <a class="page-link" th:href="'/admin-panel/user?page='+${page}"
                                   th:text="${page}"></a></li>
                                </span>


                            </span>
                            </span>
                            <li class="page-item"><a class="page-link"
                                                     th:href="'/admin-panel/user?page='+@{${activePage}+1}"
                                                     th:text="'>'"></a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>