body {
    background: url("book-bg.png") repeat;
    background-size: 70px 70px;
}

#header-block {
    background: url("bookshelf.png");
    height: 20%;
}

#title-text {
    font-size: 32px;
    font-weight: bold;
    /*background-color: rgb(102, 51, 153);*/
    color: white;
}

#title-hint {
    font-size: 18px;
    font-weight: bold;
    color: white
}

.bg-primary {
    background-color: rgb(102, 51, 153) !important;
}


.btn-primary {
    background-color: rgb(102, 51, 153) !important;
    border-color: rgb(102, 51, 153) !important;
}

.btn-outline-primary {
    border-color: rgb(102, 51, 153) !important;
    color: rgb(102, 51, 153) !important;
}

.btn-outline-primary:hover {
    background-color: rgb(102, 51, 153) !important;
    color: white !important;
}

.btn-primary:active {
    background-color: rgb(102, 51, 153) !important;
    color: white !important;
}

.dropdown-item:active {
    background-color: rgb(102, 51, 153) !important;
    color: white !important;

}